{% extends "homepage/layout.html" %}
{% block body %}
<h1>schnep:site;</h1>
<div class="row">
  <div class="col-md-auto">
    <div class="p-3  rounded-6">
      <a href="http://www.github.com/ARIMBAUD-X">github</a>
    </div>
  </div>
  <div class="col-md-auto">
    <div class="p-3  rounded-6">
      <a href="https://www.ft.com/alphaville">alphaville</a>
    </div>
  </div>
  <div class="col-md-auto">
    <div class="p-3  rounded-6">
      <a>fa</a>
      <a href="https://dimemtl.com/">dimemtl</a>
      <a href="https://strawberryhillphilosophyclub.com/">shpc</a>
      <a href="https://noteshop.co.uk/">noteshop</a>
      <a href="https://endclothing.co.uk/">endclothing</a>
      <a href="https://ebay.co.uk/">marketplace</a>
    </div>
  </div>
  <div class="col-md-auto">
    <div class="p-3  rounded-6">
      <a href="https://mail.proton.me/u/1/inbox">mail</a>
    </div>
  </div>
  <div class="col-md-auto">
    <div class="p-3  rounded-6">
      <a>mu</a>
      <a href="https://audiosex.pro/">audiosex</a>
      <a href="https://dmpdoc.neocities.org/">/dmp/ wiki</a>
    </div>
  </div>   
  <div class="col-md-auto">
    <div class="p-3  rounded-6">
      <a>work</a>
      <a href="https://durham.ac.uk/">durham</a>
      <a href="https://x.com/">mail</a>
    </div>
  </div>
</div>
{% endblock %}