{% extends "homepage/layout.html" %}
{% block body %}
<h1>home</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="p-3 rounded-6">
        <h4>work</h4>
        <a href="https://mail.proton.me/u/1/inbox">mail</a>
        <a href="https://blackboard.durham.ac.uk/">blackboard</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 rounded-6">
        <h4>academia</h4>
        <a href="https://scholar.google.com">google scholar</a>
        <a href="https://www.jstor.org/">jstor</a>
        <a href="https://www.libgen.is/">libgen</a>
        <a href="https://www.researchgate.net/">researchgate</a>
        <a href="https://www.sci-hub.tw/">sci-hub</a>
        <a href="https://www.semanticscholar.org/">semanticscholar</a>
        <a href="https://www.durham.ac.uk/departments/library/">durham library</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 rounded-6">
        <h4>dev</h4>
        <a href="http://www.github.com/rohanspage">github</a>
        <a href="https://www.stackoverflow.com/">stackoverflow</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="p-3 rounded-6">
        <h4>blog</h4>
        <a href="https://www.ft.com/alphaville">alphaville</a>
        <a href="https://www.bloomberg.com/opinion">bloomberg</a>
        <a href="https://www.economist.com/blogs">economist</a>
        <a href="https://www.theguardian.com/commentisfree">guardian</a>
        <a href="https://www.nytimes.com/columns">nytimes</a>
        <a href="https://www.project-syndicate.org/">project-syndicate</a>
        <a href="https://www.washingtonpost.com/opinions">washingtonpost</a>
        <a href="https://news.ycombinator.com/">hackernews</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 rounded-6">
        <h4>ph</h4>
        <a href="https://www.iep.utm.edu/">iep</a>
        <a href="https://plato.stanford.edu/">plato</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 rounded-6">
        <h4>fa</h4>
        <a href="https://dimemtl.com/">dimemtl</a>
        <a href="https://strawberryhillphilosophyclub.com/">shpc</a>
        <a href="https://noteshop.co.uk/">noteshop</a>
        <a href="https://cardiffskateboardclub.com">csc</a>
        <a href="https://www.footpatrol.com/">footpatrol</a>
        <a href="https://www.endclothing.com/">endclothing</a>
        <a href="https://www.uniqlo.com/uk/en/men">uniqlo</a>
        <a href="https://www.gothrift.co.uk/">gothrift</a>
        <a href="https://www.depop.com/">depop</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 rounded-6">
        <h4>mu</h4>
        <a href="https://audiosex.pro/">audiosex</a>
        <a href="https://dmpdoc.neocities.org/">wiki</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
